body{
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-left: 55px;
}

h1 {
    font-size: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #666;
    text-align: center;
    margin: 30px;
    margin-bottom: 10px;
}

.poem {
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
}

.poem h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.poem img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.poem p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.back-button {
    margin-top: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #ff7e5f;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 730px;
}

.back-button:hover {
    background-color: #feb47b;
    color: white;
}

@media screen and (max-width: 768px) {

  .body {
      font-size: 16px;
  }

  .container {
      display: block;
      flex-direction: column;
      right: 50%;
      transform: translateX(-18%);
      width: 100%;
  }  

  h1 {
    left: 50%;
    transform: translateX(0%);
  }

  .poem {
      width: 100%;
  }

  .poem img {
      width: 100%;
      height: auto;
  }

  .back-button {
      position: absolute;
      top: 3250px;
  }
}