body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background-image: url(../image/12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
    
}

#timer {
    font-size: 2.5rem;
    margin: 20px 0;
    padding: 10px;
    border: 7px solid #ff6347;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0,5);
    color: white;
}

/* navigasi */

nav {
    background: rgba(255, 255, 255, 0,2);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-right: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: white;
    color: #ff7e5f;
}

@media screen and (max-width: 768px) {

    ul {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 40px;
    }

    li {
        margin: 10px 0;
    }
}